@import "tailwindcss";

:root{
  --primary: #70B147;          /* Torido logo green */
  --primary-dark: #5C963B;     /* hover/active */
  --primary-soft: #F0FAEA;     /* soft tint background */

  --text: #0F172A;             /* ADD THIS */
  --coral: #FB7185;
}

html, body {
  background: white;
  color: var(--text);
}

* {
  -webkit-tap-highlight-color: transparent;
}

a { text-decoration: none; }
